.tree-menu {
	height: 100%;
}

.tree-menu div {
	outline: none;
	box-sizing: border-box;
}

.tree-menu .search {
    padding: 1rem 1.5rem;
    border: none;
	font-size: inherit;
}

.tree-item-group {
	list-style: none;
	padding-left: 0;
	border-top: 1px solid #ccc;
	margin-top: 0;
}

.tree-item {
	padding: 0.75rem 1rem;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

.toggle-icon {
	display: inline-block;
}

.toggle-icon-symbol {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}
